.message {
  padding: 1px;
  margin: -15px 0px;
  width: fit-content;
  max-width: 70%;
  overflow-wrap: break-word;
  /* background-color: pink; */
}

.message_user {
  margin-left: auto;
  color: rgb(0, 0, 0);
  text-align: left !important;
}

.message_user > #user {
  display: block;
  position: relative;
  text-align: right;
  margin-top: 10px;
  opacity: 0.8;
}

#user {
  height: 4px;
  font-size: 14px;
  margin-top: 10px;
  opacity: 0.8;
}

.message_userCard {
  background-color: rgb(86, 70, 215, 0.69) !important;
  padding: 0px 15px;
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 25px;
  border-radius: 4px;
}

.message_guestCard {
  background-color: rgb(229, 217, 65, 0.67) !important;
  padding: 0px 10px;
  font-weight: 600;
  font-size: 25px;
  border-radius: 4px;
}
